@use './colors' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus {
        outline: 0;
    }

    &:focus-visible {
        outline: 2px solid $dark-blue;
        outline-offset: 3px;
        border-radius: 2px;
    }
}

body {
    max-width: 1900px;
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;

    & > * {
        padding: 0 9vw;
    }
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
    color: inherit;
}