// Portfolio Card styles
.portfolio-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .image-container {
        display: flex;
        position: relative;

        .background-image {
            filter: brightness(.75);
            display: flex;
            width: 100%;
        }

        .text-container {
            position: absolute;
            bottom: 25px; left: 15px;
            color: $very-light-gray;
        }

        &:hover {
            box-shadow: 1px 1px 4px 1px rgba(26, 29, 35, .25);
            filter: grayscale(.45);
        }
    }

    @media screen and (max-width: 805px) {
        display: flex;
        flex-direction: column;
    }
}